# Needed for use .so files in /vendor/lib64 needed by ims which runs as com.android.phone (radio)
# r_dir_file(radio, vendor_file)
typeattribute radio system_executes_vendor_violators;
allow radio vendor_file:file rx_file_perms;
