service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_oxygen
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

on post-fs-data
    mkdir /data/fpc 0770 system system
    mkdir /data/fpc/s 0771 system system
    mkdir /data/thermal 0771 system system
    mkdir /data/misc/goodix 0770 system system
    mkdir /data/gf_data 0770 system system

on init
    chown system system /dev/goodix_fp
    # set gpio13 could be read by all
    chmod 0644 /dev/gpio_rf

on boot
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/vendor

service goodixfp /vendor/bin/goodixfp
     class core
     user system
     group system
     oneshot
     writepid /dev/cpuset/system-background/tasks

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    group system
    disabled
    oneshot
